/* * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * 
 *  GENERAL                                                                  *
 * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * */

main {
    width: 100%;
    margin: 0.5rem auto;
}

@media screen and (min-width: 48em) {
    main {
        width: 90%;
    }
}

/* Columns */
main > div {
    box-sizing: border-box;
    padding: 0.5rem;
}


/* * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * 
 *  BUTTONS WITH LABELS AND ICONS                                            *
 * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * */

.pure-button > i.fa,
p > i.fa {
    margin-right: 0.5rem;
}


/* * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * 
 *  PLAYER SECTION                                                           *
 * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * */

section#player > audio {
    display: none;
}


/* * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * 
 *  UPLOAD SECTION                                                           *
 * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * */

section#upload > form > progress {
    display: block;
    width: 100%;
    height: 0.5rem;
    margin-top: 0.5rem;
}


/* * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * 
 *  LIBRARY SECTION                                                          *
 * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * */

form#library-search {
    display: flex;
    margin-bottom: 0.5rem;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
}

form#library-search > input {
    min-width: 85%;
}
