html {
  font-family: 'Helvetica Neue', Verdana, Helvetica, Arial, sans-serif;

  max-width: 600px;
  margin: 0 auto;

  font-size: 1.125em;
  line-height: 1.5em;

  color: #333;
  -webkit-font-smoothing: antialiased;
}


h1, h2, h3 {
  color: #000;
}

h1 {
  font-size: 2.5em
}

h2 {
  font-size: 2em
}

h3 {
  font-size: 1.5em
}

p, li {
    line-height: 1.3rem;
}

main {
    margin: 2rem auto;
}

main > section {
    margin: 2rem 0;
}

section, p, h1, h2 {
    margin: 0.5rem 0;
}

audio {
    display: block;
    width: 100%;
}

form {
    display: flex;
}

input[type="file"],
input[type="text"] {
    flex: 1;
}

input[type="button"] {
    vertical-align: text-bottom;
}

label {
    margin-right: 0.3rem;
}

ul {
    list-style-type: none;
}
